src/main/mule/Delete_proc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="delete_proc" doc:id="2607b25d-ba16-4dc7-aee1-93a6ffed8af4" >
		<logger level="INFO" doc:name='"DELETE /client request"' doc:id="241aadf8-9d83-4562-bff9-6d0a992dcd1a" message='#["DELETE /client request"]'/>
		<set-variable value="#[message.attributes.queryParams.client_key]" doc:name="client_key" doc:id="2a64d72b-23fa-4883-b917-4035b7cd0df4" variableName="client_key"/>
		<http:request method="DELETE" doc:name="DELETE /client" doc:id="4a376141-7864-4cfe-b571-e8c27f55971c" config-ref="HTTP_Request_configuration" path="/client">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_key" : vars.client_key
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name='"DELETE /client response"' doc:id="8a1ee584-7e4e-4215-b239-943229d356ce" message='#["DELETE /client response"]'/>
	</flow>
</mule>
