src/main/mule/Retrieve_proc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Retrieve_procFlow" doc:id="02a84f43-f96c-4bac-a9c4-8d5b7327de7d" >
		<logger level="INFO" doc:name='"GET /client request"' doc:id="fcd1161f-ecb6-441c-b5b8-1c5414ec25d3" message='#["GET /client request"]'/>
		<http:request method="GET" doc:name="GET /client " doc:id="547102b2-f49e-4670-820a-7cfef615a50e" config-ref="HTTP_Request_configuration" path="/client"/>
		<ee:transform doc:name="convert dates from Long to String" doc:id="9e0ab7ae-779b-4fdf-91b2-0528d2bbfd87">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import update from dw::util::Values
output application/json
---
payload 
	update "created_date" with (payload.created_date as Number as DateTime {format: "dd-MM-yyyy"}) 
	update "birth_date" with (payload.birth_date as Number as DateTime {format: "dd-MM-yyyy"})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="efe9151b-8372-4d32-979a-01a1ddbbdc5a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var arr = ["billing_street","billing_city","billing_state","billing_country","billing_postal_code"]
import * from dw::util::Values
output application/json
---
(payload map ({
    ($),
    "billing_address": $.billing_street ++ "," ++ $.billing_city ++ "," ++ $.billing_state ++ "," ++ $.billing_postal_code ++ "," ++ $.billing_country
} filterObject !(arr contains ($$ as String))))  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name='"GET /client response"' doc:id="1a52ab50-a60f-4bcf-a3ce-5d806a69d013" message='#["GET /client response"]'/>
	</flow>
</mule>
